fastapi
uvicorn
pydantic
langchain
langchain-ollama
langchain-community
langchain-chroma
langchain-text-splitters
langgraph
chromadb
python-dotenv
pypdf
python-docx
docx2txt
tiktoken
python-multipart
pillow
sympy
